*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
   padding: 0;
	overflow-x: clip;
}

body {
	background-color: #fff;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

/* Start Landing */
.landing {
	position: relative;
	background-color: #f7f7f7;
   width: 100%;
   height: 200vh;
}

.container {
	position: relative;
	background-color: #430c56;
	width: 100%;
	height: 85vh;
	padding: 0 100px;
	overflow-x: clip;
	z-index: 2;
}

@media(min-width: 190px){
	.landing {}
}

@media(max-width: 768px){
	.landing {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0 0 100rem;
	}
	.container {
		padding: 0 30px;
	}
}

.container header {
	position: relative;
   width: 100%;
	height: 80px;
   display: flex;
   align-items: center;
	justify-content: space-between;
	color: #fff;
	z-index: 3;
}
.container header a {
	text-decoration: none;
	color: #fff;
   margin: 0 20px
}
.main-heading {
	font-size: 30px;
	letter-spacing: 2px;
	left: 0;
}
.main-heading span {
	font-size: 30px;
	font-weight: 100;
	font-family: system-ui;
}
.main-heading:hover {
	transform: scale(1.1);
	transition: 0.3s;
	cursor: pointer;
}
.container header .left-heading {
	border-bottom: 1px solid #47fd9e;
   padding-bottom: 2px;
}
.container  img {
	position: absolute;
}
.container .info .popap-left {
	width: 350px;
	height: 350px;
   left: -170px;
   top: 120px;
}
.container .info .popap-right {
	width: 250px;
	height: 250px;
   right: -160px;
   bottom: 0;
	z-index: 2;
}
.container .info {
	width: 100%;
	height: 100%;
	text-align: center;
	margin-bottom: 330px;
	overflow: hidden;
}
@media(max-width: 768px){
	.container .info  {
		margin-bottom: 80px;
	}
}
.container .info p {
	width: 570px;
   margin: 35px auto;
   font-size: 50px;
	color: #FFF;
	font-family: 'Bodoni Moda', serif;
}
@media(max-width: 653px){
	.container .info p {
		width: 100%;
      font-size: 36px;
	}
}
.container .info p span {
	position: relative;
}
.container .info p span:after {
	content: "";
	position: absolute;
	background-color: #47fd9e;
	color: #47fd9e;
	height: 1px;
	width: 100%;
	left: 0;
	bottom: 8px;
}
.container .info a {
	position: sticky;
	background-color: #47fd9e;
	display: block;
	width: 160px;
   height: 50px;
	line-height: 50px;
   text-decoration: none;
   text-align: center;
   margin: 0 auto;
   color: #000;
   font-size: 20px;
   border: 1px solid #47fd9e;
   transition: 0.3s;
}
.container .info a:hover {
	background: transparent;
   color: #47fd9e;
}
.container:after {
	content: "";
	position: absolute;
	background-color: #430c56;
	width: 100%;
    height: 250px;
	left: 0;
    bottom: -240px;
    clip-path: ellipse(51% 25% at 50% 9%);
}
.landing .mobile {
    position: absolute;
	width: 560px;
    height: 550px;
    left: 55%;
    top: 340px;
    transform: translateX(-50%);
	z-index: 2;
}
@media(max-width: 768px){
	.landing .mobile {
		height: 300px;
		width: 300px;
		transform: translateX(-45%) rotate(-45deg);
		left: 50%;
		top: 350px;
	}
}
.landing:after {
	content: "";
	position: absolute;
	background-color: #f7f7f7;
   width: 100%;
   height: 250px;
   bottom: -240px;
   clip-path: ellipse(51% 25% at 50% 9%);
}
.landing .data {
	display: flex;
   text-align: center;
   gap: 25px;
}
@media(max-width: 768px){
	.landing .data {
      flex-direction: column;
		align-items: center;
	}
}
.landing .data > div {
   width: calc(100% / 3);
}
@media(max-width: 768px){
	.landing .data > div {
		width: 100%;
	}
}
.landing .data h1,
.data h2 {
	font-family: 'Bodoni Moda', serif;
	margin: 0 auto 35px;
}
.landing .data h1 {
	width: 60px;
   height: 60px;
   border-radius: 50%;
   border: 1px solid;
   align-items: center;
   display: flex;
   justify-content: center;
}
.landing .data p {
	line-height: 1.6;
}
/* End Landing */

/* Start contact-us */
.contact-us {
	position: relative;
	display: flex;
	width: 100%;
	padding: 0 13%;
	margin-bottom: 100px;
}
.contact-us .holder {
	position: relative;
   width: 100%;
}
@media(max-width: 1110px){
	.contact-us {
		flex-direction: column;
		align-items: center;
		padding: 20rem 0;
	}
}
@media(max-width: 678px){
	.contact-us {
		padding: 20rem 0;
		margin-top: -10rem;
	}
}
.contact-us .holder img {
	border-radius: 50%;
	width: 400px;
	height: 400px;
}

.contact-us .holder .info {
    position: absolute;
    background-color: #430c56;
    width: 70%;
    padding: 30px 45px;
	right: 0;
    top: 145px;
    color: #FFF;
	gap: 35px;
    display: flex;
    flex-direction: column;
    align-items: self-start;
}
@media(max-width: 1110px){
	.contact-us .holder {
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
	}
	.contact-us .holder .info {
		left: 50%;
		transform: translate(-50%);
		top: 430px;
		width: 100%;
		display: flex;
		align-items: center;
	}
}
@media(max-width: 678px){
	.contact-us .holder .info {
		padding: 35px 15px;
	}
}
.contact-us .holder .info .popap {
    position: absolute;
	width: 220px;
    height: 220px;
    bottom: -100px;
    left: 65%;
	z-index: 2;
}
.contact-us .holder .info h2 {
	font-family: 'Bodoni Moda', serif;
	font-size: 35px;
}
.contact-us .holder .info p {
	line-height: 1.7;
}
.contact-us .holder .info a {
	background-color: #47fd9e;
   padding: 14px 10px;
   font-weight: 600;
   color: #000;
   border: 1px solid #47fd9e;
   transition: 0.3s;
}
.contact-us .holder .info a:hover {
	background: transparent;
   color: #47fd9e;
}
/* End contact-us */

/* Start Footer */
footer {
	padding: 10rem 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 3rem;
}
@media(max-width: 470px){
	footer {
		padding: 5rem 0;
	}
}
footer .tow {
	color: #430c56;
    
    font-size: 40px;
    font-weight: 600;
}
footer ul {
   list-style-type: none;
   display: flex;
   align-items: center;
   gap: 25px;
}
footer ul li {
	position: relative;
	display: flex;
   align-items: center;
   justify-content: center;
   width: 35px;
   height: 35px;
   border-radius: 4px;
   font-size: 25px;
   cursor: pointer;
   transition: 0.3s;
}
footer ul li:nth-of-type(1):hover {
	background-color: #1877f2;
}
footer ul li:nth-of-type(2):hover{
	background-color: #1d9bf0 ;
}
footer ul li:nth-of-type(3):hover{
	background: linear-gradient(-30deg, #fe9d00, #ee00bb);
}
footer ul li:nth-of-type(3):hover a {
	color: #FFF;
}
footer ul li a {
	color: #777;
}
footer ul li:hover a {
	color: #fff;
}

/* End Footer */

