*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
    padding: 0;
}


body {
	background-color: #fff;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}
/* Start Container */
.landing {
	position: relative;
	background-color: #f7f7f7;
    width: 100%;
    height: 200vh;
	margin-bottom: 200px;
}
.container {
	position: relative;
	background-color: #430c56;
	width: 100%;
	height: 85vh;
	padding: 0 100px;
	overflow-x: clip;
	z-index: 2;
}
.container header {
	position: relative;
    width: 100%;
	height: 80px;
    display: flex;
    align-items: center;
	justify-content: space-between;
	color: #fff;
	z-index: 3;
}
.container header a {
	text-decoration: none;
	color: #fff;
}
.main-heading {
	font-size: 30px;
	letter-spacing: 2px;
	left: 0;
}
.main-heading span {
	font-size: 30px;
	font-weight: 100;
	font-family: system-ui;
}
.main-heading:hover {
	transform: scale(1.1);
	/* transform: translate3d(10px, 10px, 10px); */
	transition: 0.3s;
	cursor: pointer;
}
.container .left-heading {
	border-bottom: 2px solid #47fd9e;
    padding-bottom: 2px;
}
.container  img {
	position: absolute;
}
.container .info .popap-left {
	width: 350px;
	height: 350px;
    left: -170px;
    top: 120px;
}
.container .info .popap-right {
	width: 250px;
	height: 250px;
    right: -160px;
    bottom: 0;
	z-index: 2;
}
.container .info {
	width: 100%;
	height: 100%;
	text-align: center;
	margin-bottom: 330px;
	overflow: hidden;
}
.container .info p {
	width: 570px;
    margin: 35px auto;
    font-size: 50px;
	color: #FFF;
	font-family: 'Bodoni Moda', serif;
}
.container .info p span {
	position: relative;
}
.container .info p span:after {
	content: "";
	position: absolute;
	background-color: #47fd9e;
	color: #47fd9e;
	height: 2px;
	width: 100%;
	left: 0;
	bottom: 8px;
}
.container .info a {
	background-color: #47fd9e;
	display: block;
	width: 160px;
    height: 50px;
	line-height: 50px;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    color: #000;
	font-size: 20px;
    border: 2px solid #47fd9e;
}
.container .info a:hover {
	background: transparent;
    color: #47fd9e;
}
.back:after {
	content: "";
	position: absolute;
	background-color: #430c56;
	width: 100%;
    height: 250px;
	left: 0;
    bottom: -240px;
    clip-path: ellipse(51% 25% at 50% 9%);
}
.landing .mobile {
    position: absolute;
	width: 560px;
    height: 550px;
    left: 55%;
    top: 340px;
    transform: translateX(-50%);
	z-index: 2;
}
.landing:after {
	content: "";
	position: absolute;
	background-color: #f7f7f7;
	width: 100%;
    height: 250px;
    bottom: -240px;
    clip-path: ellipse(51% 25% at 50% 9%);
}
.data {
	display: flex;
    text-align: center;
	gap: 25px;
}
.data > div {
    width: calc(100% / 3);
}
.data h1,
.data h2 {
	font-family: 'Bodoni Moda', serif;
	margin: 0 auto 35px;
}
.data h1 {
	width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid;
    align-items: center;
    display: flex;
    justify-content: center;
}
.data p {
	line-height: 1.6;
}
/* End Container */
/* Start contact-us */
.contact-us {
	position: relative;
	display: flex;
	width: 100%;
	height: 500px;
	padding: 0 13%;
	margin-bottom: 100px;
}
.contact-us img {
	border-radius: 50%;
	width: 400px;
	height: 400px;
}
.contact-us .popap {
    position: absolute;
	width: 220px;
    height: 220px;
    bottom: -30px;
    left: 65%;
	z-index: 2;
}
.contact-us .info {
    position: absolute;
    background-color: #430c56;
    width: 655px;
    height: 300px;
    padding: 30px 45px;
    left: 38%;
    top: 30%;
    color: #FFF;
	gap: 35px;
    display: flex;
    flex-direction: column;
    align-items: self-start;
}
.contact-us .info h2 {
	font-family: 'Bodoni Moda', serif;
	font-size: 35px;
}
.contact-us .info p {
	line-height: 1.7;
}
.contact-us .info a {
	background-color: #47fd9e;
    padding: 14px 10px;
    font-weight: 600;
    color: #000;
    border: 2px solid #47fd9e;
    text-decoration: none;
}
.contact-us .info a:hover {
	background: transparent;
    color: #47fd9e;
}
/* End contact-us */

/* Start Footer */
footer {
	display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0;
	gap: 2rem;
}
footer .tow {
	color: #430c56;
    text-decoration: none;
    font-size: 40px;
    font-weight: 600;
}
footer ul {
    list-style-type: none;
	display: flex;
    align-items: center;
    gap: 10px;
}
footer ul li {
	display: flex;
    align-items: center;
    justify-content: center;
	width: 35px;
    height: 35px;
	border-radius: 4px;
	color: #ccc;
	font-size: 25px;
	cursor: pointer;
}
footer ul li a {
	color: #ccc;
}
footer ul li:nth-of-type(1):hover a {
	color: #1877f2;
}
footer ul li:nth-of-type(2):hover a {
	color: #0073b1;
}
footer ul li:nth-of-type(3):hover a {
	/* color: lightcoral; */
	color: #bb34b4;
}
footer ul li:nth-of-type(4):hover a {
	color: #1d9bf0;
}
footer ul li:hover {
	background-color: rgb(0 0 0 / 15%);
}
/* End Footer */

